---
import Layout from "../layouts/Layout.astro"

---

<Layout title="About Kourtney">

    <div class="px-8 md:px-24">
<h1 class="text-center lg:text-left">Hello There </h1>
<p class="py-8 ">My name is Kourtney Kitchens. I am a wife and a mother of two energetic girls & two rambunctious boys! When I’m not chasing after them you will probably find me spending time with my husband, catching up on writing, doing a DIY project or dreaming about what’s next…
<br/>
<br/>
What I am most passionate about is encouraging women to pursue deep relationship with Jesus and from that overflow of love living an authentic life . I believe that God has made YOU for relationship with Him and the longer you stare at the creator the more you realize who you are & what He has made you to do in this moment, in this season & in this life. 
<br/>
<br/>
The Harvest is a true reflection of this desire. One purpose that we were created for is to share the gospel. How do we do that when our lives are moving so fast and we are hardly equipped. As women we have unique opportunities to be in places and spaces that others do not and it is no coincidence. In these spaces we have the chance to bring others into relationship with Jesus, it was what we were made to do. The Harvest is a practical guide to understanding our position and how we can share the gospel without being weird or awkward. 
<br/>
<br/>

I am so glad you are here friend. This is just the beginning of a beautiful journey.


</p>
</div>

<style>

@font-face {
  font-family: 'Salonica';
  src: url('/fonts/Salonica.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

h1 {
    font-family: 'Salonica', sans-serif;
    font-size: 5rem;
}

</style>


</Layout>