---
import Layout from "../layouts/Layout.astro";
import BookAndDescription from "../components/BookAndDescription.astro";
import BookTestimonials from "../components/BookTestimonials.astro";
---

<Layout 
	title="Books by Kourtney Kitchens" 
	description="Discover The Harvest by Kourtney Kitchens - A practical guide for Christian women to share the gospel and make disciples without being weird or awkward. Available in hardcover and digital formats."
>
	<main>
    	<BookAndDescription />
    	<BookTestimonials />
	</main>
</Layout>
