---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import HomeHero from '../components/HomeHero.astro';
import DownloadOffer from '../components/DownloadOffer.astro';
import EmailForm from '../components/EmailForm.astro';
---

<Layout 
	title="Kourtney Kitchens - Author & Speaker" 
	description="Welcome to Kourtney Kitchens' official website. Author of The Harvest, empowering Christian women to share their faith and make disciples in everyday life. Get your copy of The Harvest today."
>
<Header />

	<main>
        <HomeHero />
        <DownloadOffer />
        <EmailForm />
    </main>


	
</Layout>



