---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import HomeHero from '../components/HomeHero.astro';
import DownloadOffer from '../components/DownloadOffer.astro';
---

<Layout title="Kourtney Kitchens Homepage">
<Header />

	<main>
        <HomeHero />
        <DownloadOffer />
    </main>


	
</Layout>



