---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Navigation from '../components/Navigation.astro'
import HomeHero from '../components/HomeHero.astro';
import DownloadOffer from '../components/DownloadOffer.astro';
---

<Layout title="Kourtney Kitchens Homepage">
<Header />
<Navigation />
	<main>
        <HomeHero />
        <DownloadOffer />
    </main>


	
</Layout>

<script>
import '../scripts/menu.js'


</script>

