---

---

<div class="bg-blackBG pb-28 h-[100vh]">
    <h1 class="text-5xl mb-8 md:mb-24 mt-8 md:pt-24 pt-12 text-center">
        What people are saying about The Harvest
    </h1>
    <div
        class="block md:flex items-center content-center w-full text-center gap-4"
    >
        <div
            class=" md:order-1 mx-auto md:w-3/5 w-3/4 bg-white border rounded-md p-6 -rotate-6 hover:-translate-y-2 hover:-translate-x-1 min-w-40 md:mt-32"
        >
            <p>
                The author lays down a fresh challenge to the believer to
                rethink your daily footsteps, and dig a little deeper into your
                Christian faith to do more. The book is absolutely a spiritual
                home run for all ages.
            </p><br />
            <p>-R Dallas/Fort Worth Reader</p>
        </div>
        <div
            class=" md:order-2 mx-auto md:w-1/4 w-3/4 bg-white border rounded-md p-6 rotate-6 hover:-translate-y-2 hover:translate-x-1 md:mt-32 mt-6 pb-6"
        >
            <p>
                I love how simple and practical this book is to assist in my
                sharing of who God is in my life and what He has done. It's a
                simple guide to help us share the Good news of Jesus.
            </p><br />
            <p>- Michigan Reader</p>
        </div>
    </div>
</div>

<style>
    @font-face {
        font-family: "Salonica";
        src: url("/fonts/Salonica.ttf") format("truetype");
        font-weight: normal;
        font-style: normal;
        font-display: block;
        color: white;
    }

    h1 {
        font-family: "Salonica", sans-serif;
        font-size: 5rem;
        color: white;
    }
</style>
