---
import { Icon } from 'astro-icon/components'
import Hamburger from './Hamburger.astro'
---
<div id="header-container" class="grid grid-cols-3 font-serif h-48 md:h-72">
<!-- Left Column -->
<div class="items-center my-auto md:flex">
<ul class="text-links cursor-pointer md:flex mx-12 ">
<a href="https://www.instagram.com/kourtney_kitchens/" target="_blank"><Icon name="insta" size={30} class="mx-2"></a>
  <a href="https://www.tiktok.com/@kourtneykitchens?_t=ZT-8vXdrWdssO3&_r=1" target="_blank"><Icon name="tiktok" size={30} class="mx-2 hidden lg:block"></a>


</ul>
</div>
<!-- Middle Column with just Name/Logo -->
<div class="animate-slide-up hover:cursor-pointer mt-8" id="nameHeading" >
<!-- fix spacing at top -->
<h1 class="text-center mt-6 lg:mt-0 block text-6xl md:text-8xl lg:text-9xl col-span-1 lg:col-span-1 lg:left-px lg:mr-72" id="kourtney">Kourtney</h1>
<h1 class="text-center -my-6 lg:my-0 block text-6xl md:text-8xl lg:text-9xl col-span-1 lg:col-span-1 xl:ml-48 " id="kitchens">Kitchens</h1>

</div>
<!-- Right Column -->

<div class="flex items-center justify-center">
<button class="bg-btnColor hover:scale-105 py-3 px-10 rounded-lg  mx-auto hidden lg:flex">Contact</button>
<Hamburger />
</div>
</div>

<style>
@font-face {
  font-family: 'Salonica';
  src: url('/fonts/Salonica.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

h1 {
    font-family: 'Salonica', sans-serif;
    /* font-size: 10rem; */
}

@media (min-width: 768px) {

  #kourtney {
     
        left: 30rem;
    
  }
  #kitchens {
    right: 30rem;
  }



}
</style>

<script>
import { navigate } from "astro:transitions/client";

  const nameHeading = document.querySelector('#nameHeading');
  nameHeading?.addEventListener('click', () => {
    navigate('/')
  })
</script>
