---
---

<div class="bg-blackBG h-auto py-8 md:px-24">
    
    <p class="text-brownText text-center pt-8 text-xl">Hello there, I'm so glad you're here, friend!</p>
    <p class="text-white my-8 mx-12 pb-6 text-xl text-center">
        We've all heard the call to "go and make disciples." But have you ever wondered what this looks like in your daily life? As women, we're uniquely positioned in various spaces where Jesus is calling us to sow the seed of the gospel. This interactive book is designed to provide practical strategies for sharing the gospel and empowering Christian women like YOU to make disciples along the way. 
		<br/>
        <br/>

        ✨ If you feel overwhelmed when it comes to sharing your faith this book is for you. 
        <br/>
        <br/>
        ✨If you've ever wondered how to lead others toward a closer relationship with Jesus, this book is for you.
        <br/>
        <br/>
        ✨If you want to deepen your walk with Jesus this book is for you.
        <br/>
        <br/>
        The Harvest is your discipleship bestie—Grab your copy today.</p>
        <button class="bg-btnColor hover:scale-105 py-3 rounded-lg w-56 mx-auto block transition-transform duration-200"><a href="https://www.barnesandnoble.com/w/the-harvest-kourtney-kitchens/1146537412" target="_blank">Get yours here!</a></button>

</div>