---

---

<div id="mc_embed_shell" class="scroll-animate-up">
      <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css" media="print" onload="this.media='all'">
      <noscript><link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css"></noscript>
  <style type="text/css">
        #mc_embed_signup{font:16px Lora,sans-serif; width: 80%}
        /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
           We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup" class="mx-auto">
    <form action="https://kourtneykitchens.us12.list-manage.com/subscribe/post?u=051b629fa44b915714f0f79fd&amp;id=7757707442&amp;f_id=006ee9e0f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
        <div id="mc_embed_signup_scroll"><h2>Let's Stay in  Touch</h2>
            <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
            <div class="mc-field-group"><label for="mce-EMAIL">Email Address <span class="asterisk">*</span></label><input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value=""></div><div class="mc-field-group"><label for="mce-FNAME">First Name </label><input type="text" name="FNAME" class=" text" id="mce-FNAME" value=""></div>
        <div id="mce-responses" class="clear foot">
            <div class="response" id="mce-error-response" style="display: none;"></div>
            <div class="response" id="mce-success-response" style="display: none;"></div>
        </div>
    <div aria-hidden="true" style="position: absolute; left: -5000px;">
        /* real people should not fill this in and expect good things - do not remove this or risk form bot signups */
        <input type="text" name="b_051b629fa44b915714f0f79fd_7757707442" tabindex="-1" value="">
    </div>
        <div class="optionalParent">
            <div class="clear foot">
                <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe">
                <p style="margin: 0px auto;"><a href="http://eepurl.com/joriwA" title="Mailchimp - email marketing made easy and fun"><span style="display: inline-block; background-color: transparent; border-radius: 4px;"><img class="refferal_badge" src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-dark.svg" alt="Intuit Mailchimp" style="width: 220px; height: 40px; display: flex; padding: 2px 0px; justify-content: center; align-items: center;"></span></a></p>
            </div>
        </div>
    </div>
</form>
</div>

<script is:inline defer src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
<script is:inline>
  // Defer Mailchimp validation script until after page load
  if (document.readyState === 'loading') {
    document.addEventListener('DOMContentLoaded', function() {
      setTimeout(() => {
        (function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';fnames[6]='COMPANY';ftypes[6]='text';}(jQuery));var $mcj = jQuery.noConflict(true);
      }, 500);
    });
  } else {
    setTimeout(() => {
      (function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';fnames[6]='COMPANY';ftypes[6]='text';}(jQuery));var $mcj = jQuery.noConflict(true);
    }, 500);
  }
</script>
<!-- <div class="bg-btnColor p-12 md:px-24 lg:px-48 xl:px-92 block">
    <h1 class="text-center text-3xl mb-8">Stay in touch</h1>
    <form id="email-form" class="mx-8 md:mx-32 flex flex-col items-center space-y-6" action="/submit" method="post">
        <div class="w-full flex flex-col items-center">
            <label for="email" class="text-lg mb-2">Email</label>
            <input class="p-3 rounded-lg w-72  focus:outline-none focus:ring-2 focus:ring-links" type="email" placeholder="Your Email" id="email" name="email" required />
        </div>

        <div class="w-full flex flex-col items-center">
            <label for="firstName" class=" text-lg  mb-2">First Name</label>
            <input class="p-3 rounded-lg w-72  focus:outline-none focus:ring-2 focus:ring-links" type="text" placeholder="First Name" id="firstName" name="firstName" />
        </div>

        <div class="w-full flex flex-col items-center">
            <label for="lastName" class=" text-lg mb-2">Last Name</label>
            <input class="p-3 rounded-lg w-72 focus:outline-none focus:ring-2 focus:ring-links" type="text" placeholder="Last Name" id="lastName" name="lastName" />
        </div>

        <button type="submit" class="mt-12 bg-links text-white hover:scale-105 py-3 rounded-lg w-56 mx-auto block transition-transform duration-200">Keep me updated!</button>
    </form>
</div> -->

<!-- <script>
import { actions } from "astro:actions";

    const form = document.getElementById('email-form');
    const submitButton = document.getElementById('email-form');

    submitButton?.addEventListener('submit', async (event) => {
        event.preventDefault(); 
        const formData = new FormData(form as HTMLFormElement);
        const { data, error } = await actions.addEmailSubscriber(formData);
        if (!error) {
            console.log(data)
        } else {
            console.log(error)
        }
   
    });
</script> -->