---
import { Icon } from 'astro-icon/components'

---
<div class="mb-20 mt-10">
<div id="footer-name" class="text-center text-6xl">
    <h1 class="-py-4">Kourtney</h1>
    <h1 class="-py-4">Kitchens</h1>
</div>
<behold-widget class="my-12" feed-id="sL1efOBPQI1sOthpPaik"></behold-widget>
<script>
  (() => {
    const d=document,s=d.createElement("script");s.type="module";
    s.src="https://w.behold.so/widget.js";d.head.append(s);
  })();
</script>
<ul class="flex justify-center items-center flex-col my-4 underline text-xl">
<li class=""><a href="/about">Meet Kourtney</a></li>
<li class=""><a href="/books">Books</a></li>
<li class=""><a href="/contact">Contact</a></li>
</ul>
<ul class="flex justify-center gap-6 p-10 text-links">
    <a href="https://www.instagram.com/inthemessymiddlewithkourt/" aria-label="Link to Instagram Profile" target="_blank"><Icon name="insta" size={30} class="mx-2"></a>
          <a href="https://www.facebook.com/kourtney.kitchens1" aria-label="Link to Facebook Page" target="_blank"><Icon name="facebook" size={30} class="mx-2"></a>

      </ul>
<hr class="border-slate-1"/>
<footer class="mt-8 mb-4 text-center"> <small>&copy; Copyright 2025, Kourtney Kitchens</small> </footer>
</div>

<style>

@font-face {
    font-family: 'Lora';
    src: url('/fonts/Lora-VariableFont_wght.ttf') format('truetype');
  }

  li {
    font-family: 'Lora';
  }
</style>