---

---

<div class="cursor-pointer col-span-1 lg:hidden" id="hamburger-menu">
<span class="block w-10 h-0.5 mb-3 rounded bg-links m-2 transition-transform duration-300 ease-in-out" id="top-bar"></span>
<span class="block w-10 h-0.5 mb-3 rounded bg-links m-2 transition-transform duration-300 ease-in-out " id="bottom-bar"></span>  
</div>

<div class="hidden" id="menuOverlay">
    <div class="menu">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">Meet Kourtney</a></li>
            <li><a href="/books">Books</a></li>
            <li><a href="/diy">DIY Projects</a></li>
            <li><a href="/speaking">Speaking</a></li>
            <li><a href="/resources">Resources</a></li>

            <li>Contact</li>
        </ul>
    </div>
</div>

<style>
        #menuOverlay {
            display: hidden;
            position: absolute;
            margin: 192px 0 0 0;
            z-index: 50;
            top: 0;
            left: 0;
            width: 100%;
            height: calc(100% - 176px);
            background-color: #edeae9; 
            text-align: center;
            justify-content: center;
            padding-top: 2rem;
            
        }
        li {
            font-size: 2rem;
        }
        .hidden {
            display: hidden;
            position:relative;
            opacity: 0;
            transition: opacity 0.3s ease-in;
        }
        .active {
            display:flex;
            opacity: 1;
            transition: opacity 0.3s ease-in;
            
        }


</style>


<script>
    const hamburgerMenu = document.getElementById('hamburger-menu');
    const overlay = document.getElementById('menuOverlay');

    hamburgerMenu?.addEventListener('click', () => {
        overlay?.classList.toggle('hidden');
        overlay?.classList.toggle('active');
    });
</script>