---
import { Image } from "astro:assets";
import welcomePic from '../images/welcomePic.jpeg'
---
<div class="block md:flex">
<h1 class="text-5xl mb-24 mt-32 mx-4 ">Walking in <i>healing</i>. Living on <i>purpose</i>.</h1>
<Image class="saturate-75" src={welcomePic} alt="welcomePic" width={500} height={500} />
</div>


<style>
    @font-face {
  font-family: 'Imbue';
  src: url('/fonts/Imbue-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
h1 {
    font-family: 'Imbue', sans-serif;
}
</style>