---
import { Image } from "astro:assets";
import homepagePic from '../images/homepagePic.jpeg'
---
<div class="block md:flex items-center mx-12"> 
  <div class="md:order-1 md:w-1/2"> 
    <Image 
      class="saturate-75 object-cover xl:mx-20 rounded-t-full md:rounded-tl-full md:rounded-br-none" 
      src={homepagePic} 
      alt="welcomePic" 
      width={500} 
      height={500} 
      loading={"eager"}
      />
  </div>
  <div class="md:order-2 md:w-1/2 p-4 md:px-8"> 
    <h1 class="text-5xl mb-8 md:mb-24 mt-8 md:mt-32"> 
      Empowering Women to Share Their Faith & Make Disciples in Everyday Life.
    </h1> 
  </div>
</div>


<style>
    @font-face {
  font-family: 'Imbue';
    src: url('/fonts/Imbue-VariableFont_opsz,wght.ttf') format('truetype');

  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

h1 {
    font-family: 'Imbue', sans-serif;
}
</style>