---
import ContactHeader from "./ContactHeader.astro"
---
<!-- Header and Contact Links -->
<ContactHeader />

<!-- Navigation Links -->
<ul class="hidden lg:flex gap-24 justify-center max-w-full mx-10 my-8 text-links z-10 text-2xl" id="nav-links">
<a href="/" class="hover:underline">Home</a>
<a href="/about/" class="hover:underline">Meet Kourtney</a>
<a href="/books/" class="hover:underline">Books</a>
<a href="/diy/" class="hover:underline">DIY Projects</a>

<a href="/speaking/" class="hover:underline">Speaking</a>
<a href="/resources/" class="hover:underline">Resources</a>
</ul>
<slot />
