---
import ContactHeader from "./ContactHeader.astro"
---
<!-- Header and Contact Links -->
<ContactHeader />

<!-- Navigation Links -->
<ul class="hidden md:flex gap-8 justify-center max-w-full mx-10 my-4 font-serif text-links ">
<a href="/" class="hover:underline">Home</a>
<a href="/speaking/" class="hover:underline">Speaking</a>
<a href="/about/" class="hover:underline">About</a>
<a href="/bible-study/" class="hover:underline">Bible Study</a>
<a href="/resources/" class="hover:underline">Resources</a>
</ul>
